html, body {
   padding: 0 0 0 0;
   margin: 0;
   font-family: 'Work Sans', sans-serif;
}

body {
   padding-top: 8rem;
   background: #111;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.page-container {
   width: 720px;
}

h1, h2, h3, h4, p {
   color: #fff;
   margin: 0;
   padding: 0;
   line-height: 100%;
}

h1 {
   font-size: 2rem;
   font-weight: 600;
   color: #808080;
   line-height: 2.5rem;
   font-variant: small-caps;
   margin-bottom: 0;
}

h2 {
   font-size: 3rem;
   font-weight: 500;
   margin-bottom: 24px;
   color: #fafafa;
   word-spacing: -5px;
}

h3 {
   font-size: 1.75rem;
   font-weight: 600;
   margin-bottom: 16px;
   color: #fafafa;
   transition: all 0.1s ease-in-out;
}

a {
   width: 100%;
   height: 100%;
   text-decoration: none;
   color: #999;
}

.ext-link {
   font-weight: 400;
   text-decoration: underline;
   color: #999;
}

.ext-link:hover {
   color: #1ee3c2;
}

p {
   font-size: 1.25rem;
   font-weight: 300;
   color: #ccc;
}

.statement {
   font-size: 1.5rem;
   line-height: 2rem;
   margin-bottom: 12px;
}

.statement:last-of-type {
   margin-bottom: 56px;
}

.assignment {
   background: #1f1f1f;
   border-radius: 4px;
   padding: 30px 36px 30px 36px;
   transition: all 0.1s ease-in-out;
   margin-bottom: 56px;
}

.assignment:hover {
   background: #2a2a2a;
   transform: scale(1.01);
   transition: all 0.1s ease-in-out;
   
}

.assignment:hover h3 {
   color: #1ee3c2;
   transition: all 0.1s ease-in-out;
}

img {
   width: 100%;
   border-radius: 4px;
   margin-bottom: 8px;
}

#back-btn-container {
   position: relative;
   width: 720px;
   height: 56px;
   margin-bottom: 16px;
}

.button {
   font-size: 1.25rem;
   font-weight: 600;
   width: fit-content;
   padding: 12px 24px;
   border-radius: 22px;
   background: #222;
   transition: all 0.1s ease-in-out;
}

.button:hover {
   color: #1ee3c2;
   transform: scale(1.1);
   transition: all 0.1s ease-in-out;
}

.line {
   height: 4px;
   width: 720px;
   background: #222;
   margin-bottom: 32px;
}

